<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTesting">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sdetadda.allure.GetTest"/>
      <class name="com.sdetadda.allure.PutTest"/>
      <class name="com.sdetadda.allure.DeleteTest"/>
      <class name="com.sdetadda.allure.PostTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SmokeTesting -->
